*{
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

.container{
    width: 100%;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
    text-align: center;
    flex: 50% 1 0;
}

.logo{
    flex-basis: 100%;
}

#photos{
     display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    max-width: 1000px;
}

#photos div {
    width: 240px;
    text-align: center;
}


@media only screen and (min-width: 768px) {

    .typography, .branding{
        order: -1;
    }
    
    
    .logo{
        flex-basis: 0%;
    }
    
    nav ul{
        align-items: flex-end;
    }
    
    nav ul li{
        flex: 1 1 0;
    }
}

@media only screen and (min-width: 1024px) {
    
    nav ul{
        align-items: center;
    }
}